@import '../stylesheet/variables/variables.scss';
.comment_container {
  border-top: $color-input-grey 2px solid;

  height: 100%;
  width: 50%;
  display: flex;
  margin-bottom: 10px;
  padding-top: 10px;

  .comment_section {
    display: flex;
    
    align-self: center;
    height: 100%;
    width: 100%;
    // border-top: #d0e8fb 3px solid;
    // padding-bottom: 95px;

    .comment_emoticon {
      display: flex;
      flex-wrap: wrap;
      span {
        align-content: center;
        align-self: center;
        text-align: center;
        font-size: 15px;
        margin: 10px;
        
      }
    }
    .comment_comment {
      height: 100%;
      width:100% ;
      margin: 10px;
      font-size: 20px;
    }
  }
}
.comment_div {
  display: flex;
  align-self: center;
  margin: 20px;
  width: 100%;
  textarea {
    width: 40rem;
    height: 3rem;
    padding: 1rem;
    font-size: 15px;
  }
  button {
    width: 100px;
  }
}

@media screen and (max-width: 700px) {
  .comment_container {
    width: 100%;
  }
  .comment_div {
    width: 100%;
    textarea {
      width: 100%;
    }
  }
}
