.comment_container {
  border-top: #d0e8fb 2px solid;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;

  .comment_section {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100%;
    width: 50%;
    // border-top: #d0e8fb 3px solid;
    // padding-bottom: 95px;

    .comment_emoticon {
      display: flex;
      span {
        align-content: center;
        align-self: center;
        text-align: center;
        font-size: 15px;
        margin: 20px;
      }
    }
    .comment_comment {
      height: 100%;
      margin: 10px;
      font-size: 30px;
    }
  }
}
.comment_div {
  display: flex;
  align-self: center;
  margin: 20px;
  width: 100%;
  textarea {
    width: 600px;
    height: 50px;
    padding: 1rem;
    font-size: 15px;
  }
  button {
    width: 100px;
  }
}

@media screen and (max-width: 500px) {
  .comment_div {
    width: 100%;
    textarea {
      width: 100%;
    }
  }
}
