@import "./variables/variables.scss";

.create_container {
  display: flex;
  height: 100vh;
  padding-top: 9rem;
  flex-direction: column;
  align-items: center;
  // background-color: #fcb847;

  span {
    font-weight: 900;
    font-size: 20px;
  }
}

.create_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;

  .create_title {
    width: 90%;
    min-height: 10px;
    align-self: center;
    margin-bottom: 50px;

    input {
      min-height: 30px;
      margin-left: 20px;
      min-width: 90%;
      box-sizing: border-box;
      border: 0;
      resize: none;
      font-weight: 500;
      font-size: 20px;
      background-color: $color-input-grey;
    }
  }

  .create_checkbox {
    align-self: center;
    width: 90%;
    min-height: 10px;
    margin-bottom: 50px;
    span {
      margin-right: 20px;
    }
  }

  .create_main_text {
    height: 200px;
    align-self: center;
    width: 90%;
    padding-bottom: 2rem;
    margin-bottom: 50px;
    textarea {
      box-sizing: border-box;
      border: 0;
      height: 100%;
      width: 100%;
      font-weight: 500;
      font-size: 20px;
      background-color: $color-input-grey;
    }
    ::placeholder {
      text-align: center;
      padding-top: 4rem;
      font-size: 20px;
    }
  }

  .create_map {
    display: flex;
    align-items: center;
    flex-direction: column;
    span {
      width: 90%;
    }
    // .create_main_servh_btn {
    //   align-items: left;
    // }
  }
  #map {
    align-items: center;
    align-self: center;
    width: 90%;
    height: 40rem;
    box-sizing: border-box;
    // padding-bottom: 15px;
    // position: relative;
  }
  .create_button_container {
    display: flex;
    justify-content: right;
    align-self: center;
    width: 90%;
    // margin-left: 10px;
    .create_button {
      @include Nomal-button($width: 20%, $height: 5%);
      margin-bottom: 3rem;
      margin-top: 3rem;
      height: 40px;

      // border-radius: 1;
      &:hover {
        cursor: pointer;
        font-weight: 900;
        box-shadow: inset -2px -2px 8px rgba(2, 0, 36, 1),
          inset -2px -2px 12px rgba(48, 122, 251, 0.5),
          inset 2px 2px 4px rrgba(0, 212, 255, 1) 8%,
          inset 2px 2px 8px rgba(0, 212, 255, 1) 100%;
      }
    }
  }
}
.create_serch_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 90%;
  .getDetail_adress {
    font-size: 20px;
    font-weight: 900;
  }
  .create_main_search_btn {
    @include Nomal-button($width: 20%, $height: 5%);
    margin-bottom: 1rem;
    margin-top: 1rem;
    height: 50px;
    background-color: white;
    color: black;
    // border-radius: 1;

    // border-radius: 0;
  }
}

.search_on {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $color-modalbackground-black;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  opacity: 1;
  transition: all 0.2s linear;
  z-index: 10;
  .address_search {
    background-color: white;
    max-width: 500px;
    max-height: 500px;
    border-radius: 1rem;
    overflow: hidden;
  }
  i {
    float: right;
    padding: {
      top: 0.9rem;
      right: 1rem;
    }
  }
}

.off {
  visibility: hidden;
  opacity: 0;
}

// .daumPostCode {
//   width: 700px;
//   height: 800px;
//   background: red;
//   z-index: 20;
// }
@media screen and (max-width: 425px) {
  // .create_container {
  //   width: 100%;
  //   height: 100%;
  // }
  .create_form {
    width: 100%;
  }
}
