@import "./variables/variables.scss";
.detail_container {
  display: flex;
  padding-top: 9rem;
  // padding-left: 5rem;
  // padding-right: 5rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // height: 100vh;
  // position: relative;
  left: auto;
  right: auto;
  h1 {
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  span {
    font-size: 20px;
    font-weight: 700;
  }
  .detail_span {
    display: flex;
    width: 100%;
    justify-content: space-between;

    // button {
    //   margin: 2px;
    // }
  }

  .detail_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 50%;

    .detail_image {
      height: 20rem;
      width: 100%;
      border-bottom: $color-input-grey 2px solid;
    }
    .detail_map {
      padding-top: 50px;
      height: 30rem;
      width: 100%;
    }
    .detail_text {
      border-top: $color-input-grey 2px solid;
    border-bottom: $color-input-grey 2px solid;
      width: 100%;
      height: 170px;
      text-align: start;
      padding: 20px;
      font-size: 30px;
      font-weight: 300;
      // background-color: $color-input-grey;
    }
  }
}
.detail_span_block{
  padding-top: 10px;
}
.button_button {
  // margin: 20px;
  width: 100%;
  height: 100%;
margin-bottom: 10px;
  .btn_btn {
    display: flex;
    align-items: center;
    justify-content: right;

    // flex-wrap: wrap;
    align-content: center;

    div {
      @include Nomal-button($width: 10%, $height: 5%);
      justify-self: end;
      // align-self: center;
      margin: 2px;
      width: 40px;
      // height: 100%;
      // font-size: 20px;
      // letter-spacing: 10px;
      // flex-wrap: wrap;
      // border-radius: 0;
    }
  }
}
#map {
  align-items: center;
  align-self: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .detail_container .detail_content{
    width: 100%;
    height: 100%;
  }
  
  .detail_span {
    flex-wrap: wrap;
  }
}

// @media screen and (max-width: 500px) {
  //   .btn_btn {
  //     flex-wrap: wrap;
  //   }
// }
