.detail_container {
  display: flex;
  padding-top: 9rem;
  // padding-left: 5rem;
  // padding-right: 5rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // height: 100vh;
  // position: relative;
  .detail_span {
    display: flex;
    width: 50%;
    justify-content: space-between;

    button {
      margin: 2px;
    }
  }

  .detail_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 70%;
    width: 50%;

    .detail_image {
      border: royalblue 1px solid;
      height: 200px;
      width: 100%;
    }
    .detail_map {
      border: black 1px solid;
      height: 300px;
      width: 100%;
      
    }
    .detail_text {
      width: 100%;
      height: 170px;
      text-align: start;
    }
  }
}

.comment_container {
  border-top: #d0e8fb 3px solid;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;

  .comment_div {
    display: flex;
    align-self: center;
    margin: 20px;
    input {
      width: 500px;
      height: 50px;
    }
    button {
      width: 100px;
    }
  }
}

#map{
  align-items: center;
    align-self: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}