@font-face {
  font-family: "HelloMornin";
  src: url("./fonts/Hello_Mornin.ttf") format("truetype");
}

.footer {
  display: flex;
  justify-content: center;
  color: #958bcf;
  height: 100%;
  position: relative;
}

.container_footer {
  width: 90%;
  min-height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 3px #d0e8fb;
}
.runners_High_footer {
  font-family: "HelloMornin";
  font-size: 20px;
}

.footer .copyright {
  display: flex;
  bottom: 0;
  position: absolute;
}
.footer a {
  text-decoration: none;
  color: #958bcf;
}
.footer_title {
  text-decoration: underline;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.navbar_link_footer_ourservice {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar_link_footer_adress {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navbar_link_footer_adress a {
  margin: 10px;
}
