@import './variables/variables.scss';

.login_container {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.login_title {

}

.login_form {
  display: flex;
  flex-direction: column;
  margin : 20px;
  input {
    height: 40px;
    margin : 10px;
    border: 0;
    border-bottom: solid 1px black;
  }
}

.login_btn {
  align-self: center;
  width : 358px;
  height : 40px;
  margin: 10px;

}

.login_tosignup {
  
}