.main_container {
  padding-top: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  // background: url("./image/circle-scatter-3.png") no-repeat;
}

.main_section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("./image/circle-scatter-2.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  // overflow: hidden;
}
.main_section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("./image/circle-scatter-2.png");
  background-size: cover;
  background-position: center;
  width: 100%;
}
.main_section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("./image/circle-scatter-2.png");
  background-size: cover;
  background-position: center;
  width: 100%;
}
.main_section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("./image/circle-scatter-2.png");
  background-size: cover;
  background-position: center;
  width: 100%;
}
.postcard_container:not(.main_section1) {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  &:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.panel {
  height: 100vh;
  position: sticky;
  top: 0;
}
